body {
    background-color: black;
}
/* Navigation */
.navigation
{

}
/* Navigation Container */
.navContainer
{
    display: flex;
    justify-content: right;
}
/* Each Nav Link Div */
.link
{
    margin-left: 30px;
    padding: 2%;
    z-index: 2;
}
/* Nav Title */
.title
{
    color:white;
    text-decoration: none;
    font-size: 200%;
    font-family: 'DM Serif Display', serif;
}
.title:hover
{
 /* add */   
}
.accountLogo
{
    width: 30%;
    height:100%;
}
/* Cart Amount */
.cartAmount
{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: red;
    transform: translateY(-60px) translateX(40px);
    color:white;
    text-align: center;
    z-index: -1;
    border-radius: 5px;
}

/* Categories Navigation */
.categories
{
    display: flex;
    justify-content: center;
    scale: 0.9;
}
/* All General Categories */
.cat
{
    display: flex;
    justify-content: center;
    width:150px;
    height:150px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: .5s ease-in-out;
}
/* Categories on hover */
.cat:hover
{
    /* Add hover effect only if its suited */
}
.cat.active
{
    border-width: 5px;
    border-color: rgb(153, 153, 153);
    border-style: solid;
}
/* All title Div Container */
.titleDiv
{
    margin-right: 10px;
}
/* All Category Titles */
.categoryTitle
{
    color:white;
    font-size: 220%;
    font-family: 'Karla', sans-serif;
}
/* Show and Hide Divs */
.show
{
    background-color: rgb(131, 131, 131);
    color:rgb(116, 116, 116);
}
/* Show Hide Text */
.HS
{
    font-size: 200%;
    font-family: 'Karla', sans-serif;
    margin-top:35%;
    color:white;
}
/* Playstation Category */
.playstation
{
    background-color:#003791;
    border-width: 1px;
    border-color: rgba(77, 77, 77, 0);
    border-style: solid;
    transition: .5s ease-in-out;
}
.playstation:hover
{
    filter: contrast(200%);
}
.playstationLogo
{
    height:100%;
    width: 100%;
}

/* Xbox Category */
.xbox
{
    background-color:#107C10;
    border-width: 1px;
    border-color: rgba(77, 77, 77, 0);
    border-style: solid;
    transition: .5s ease-in-out;
}
.xbox:hover
{
    filter: contrast(200%);
}
.xboxLogo
{
    width: 100%;
    height:100%;
}

/* Nintendo Category */
.nintendo
{
    background-color: #E60012;
    border-width: 1px;
    border-color: rgba(77, 77, 77, 0);
    border-style: solid;
    transition: .5s ease-in-out;
}
.nintendo:hover
{
    filter: contrast(200%);
}
.nintendoLogo
{
    width: 100%;
    height:100%;
}

/* PC Category */
.pc
{
    border-width: 1px;
    border-color: rgba(77, 77, 77, 0);
    border-style: solid;
    transition: .5s ease-in-out;
}
.pc:hover
{
    filter: sepia(200%);
}
.pcLogo
{
    width: 100%;
    height:100%;
}


/* Products Div */
.products
{
    display: flex;
    justify-content: center;
}
/* Each individual Product */
.product
{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 20%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: stretch;
}
.product:hover
{
    /* Add hover functionality */
}
/* Product Picture Div */
.productPic
{
    width:100%;
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 20px;
}
/* Actual Product Picture */
.productPicture
{
    width: 50%;
    height: 10%;
}
/* Product Title Div */
.productTitle
{
    text-align: center;
}
/* Actual Product Title */
.Ptitle
{
    margin-top: 20px;
    margin-bottom: 0px;
    color:black;
    font-size: 200%;
    font-family: 'DM Serif Display', serif;
}
/* Price Div */
.price
{
    text-align: center;
}
/* Actual Price */
.Pprice
{
    color:black;
    font-size: 150%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'DM Serif Display', serif;
}
/* Two Buttons Div */
.twoButtons
{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
/* Actual Two Buttons */
.twoButton
{
    font-size: 150%;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    cursor: pointer;
    padding: 2%;
    color:black;
    font-family: 'Outfit', sans-serif;
}
.viewButton
{
    color:rgb(107, 201, 255);
}
.viewButton:hover
{
    /* Add hover functionality */
}
.cartButton
{
    color:rgb(0, 162, 255);
}
.cartButton:hover
{
    /* Add hover functionality */
}
/* Specific Picture Aspect Rations (To make all the sizes align) */
#ps5Pic
{
    flex:0.53;
}
#xboxXPic
{
    flex:0.54;
}
#switchPic
{
    flex:0.65;
}
#PCPic
{
    flex:.65;
}
